body {
	color: #ac3b61;
	font-family: fira sans, sans-serif;
	font-size: 14px;
	line-height: 2.5;
	background-size: cover;
}



#header {
	background: #EDC7B7;
	width: 20%;
	height: 50px;
	top:0px;
}
 
#container {
	position: fixed;
	background: #EDC7B7;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
 
 
#sidebar {	
	position: fixed;
	background: #EEE2DC;
	float: left;
	width: 20%;
	height: 100%;

}


#content {

	background:#EEE2DC;
	float: left;
	width: 80%;
	height: 100%;
	text-align: left;
	position:absolute;
	left:300px;
	top:0px;
}








.button {
	border: 2px solid #EDC7B7;
      background-color: #EEE2DC;
	position:absolute;
      padding: 0px 24px;
      text-decoration: none;
	text-transform: uppercase;
      display: inline-block;
      font-size: 130%;
	
	left:16px;
	width: 220px;
      margin-bottom: 10px 10px 10px 10px;
	font-family:fira sans;
	color: #123C69;
}

.text{
	color: #AC3B61;
	size: 16pt;
	line-height: 20px;
	left: 200px;
	font-family:fira sans;
}
.table_sort table {
    border-collapse: collapse;
}

.table_sort th {
    color: 
#ffebcd;
    background: 
#123c69;
    cursor: pointer;
}

.table_sort td,
.table_sort th {
    width: 150px;
    height: 40px;
    text-align: center;
    border: 2px solid 
#846868;
}

.table_sort tbody tr:nth-child(even) {
    background: 
#e3e3e3;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
    content: "▼"
}

th.sorted[data-order="1"]::after {
    content: "▲"
}



.form1 form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.form1 input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.form1 input:focus {
  width: 300px;
}
.form1 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.form1 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}









.mobile{
  display: none;
}
@media(max-width: 1024px){

 
#container {
	position: fixed;
	background: #EDC7B7;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
 
#header {
	background: #EDC7B7;
	width: 50%;
	height: 50px;
	top:0px;
	left: 0px;
}
 
#sidebar {	
	position: fixed;
	background: #EEE2DC;
	float: left;
	width: 50%;
	height: 50px;
	right: 0px;

}


#content {

	background:#EEE2DC;
	float: left;
	width: 100%;
	height: 1000px;
	text-align: left;
	position:absolute;
	left:0px;
	top:100px;
}
	.topnav{
		display: none;
	}
			
 .mobile{
    display: block;
	position:absolute;
	 	top:0px;
	}
